/* This code is from https://www.tutorjoes.in/JS_tutorial/food_shopping_cart_in_js */
*{
  font-family: Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* This controls the background colour */
body{
  background-color:#4b4b4b;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #da9f68;
}
/* This is used to adjust how the header looks */
nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

.nav{
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* This creates the spaces between the shop items */
.logo{
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
}
/* This adjusts the size and position of the logo on the page */
.box{
  color:white;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}
/* This adjusts the dimensions of the boxes */
.cart-count{
  position: absolute;
  background-color: #2f3542;
  top: -5px;
  right: 0;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height:20px ;
  border-radius: 50%;
  z-index: 99;
}
/* This adjusts the amount of carts */
#cart-icon{
  font-size: 1.5rem;
  cursor: pointer;
  padding-top: 10px;
}
/* This customises the icon for the carts */
img{
  width: 100%;
}
/* Controls the size of the image */
.container{
  max-width: 1200px;
  padding: 4rem;
  margin: auto;
  width: 100%;
}
/* Controls the size of the container */
h2.title{
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color:#ffffff;
}
/* The style for the h2 tag */
.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  gap:1.5rem;
  justify-content: center;
  align-content: center;
}
/* Controls the way shop content looks */
.food-box{
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  border-radius: 3px;
}

.pic{
  overflow: hidden;
}

.pic:hover img{
transform: scale(1.5);
}
/* Allows the images of the cookbooks to hover */
.food-img{
  transition: 0.4s;
  aspect-ratio: 1/1;
  object-fit: cover;
}
/* Controls the size of the images in the shop */
.food-title{
  font-size: 1rem;
  font-weight: 600;
  color:#ff6348;
}
/* Controls the style of the food titles */
.food-price{
  font-weight:500 ;
}
/* Controls the style of the price */
.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #2ed573;
  color:white;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.5s;
}

.add-cart:hover{
  background-color:rgba(255, 0, 0, 0.786);
}
  /* Allows for the add cart function to hover and controls the style of the items in the cart */

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}
/* Controls the style of the cart */
.cart-active{
  right:0;
  transition: 0.5s;
}
/* Controls the style of the cart */
.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom:20px ;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
/* Controls the style of the cart */
.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}
/* Controls the style of the cart */
.cart-img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border:2px solid  rgba(0,0,0,0.1);
  padding: 5px;
}
/* Controls the style of the cart images */
.detail-box{
  display: grid;
  row-gap: 0.5rem;  
}
/* Controls the style of the detail box */
.price-box{
  display: flex;
    justify-content: space-between; 
}
/* Allows the price box to be correctly spaced out */
.cart-food-title{
   font-size: 1rem;
   text-transform: uppercase;
   color:#ff6348;
   font-weight: 500;
}

.cart-price{
  font-weight: 500;
}
/* Controls the style of cart-pricce */
.cart-quantity{
  border:1px solid rgba(0,0,0,0.1);
  outline:none ;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
/* Used to control the style of the cart quantity */
.cart-remove{
  font-size: 24px;
  color:red;
  cursor: pointer;
}
/* How the cart remove button looks */
.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
/* how the total price display looks */
.total-title{
  font-size: 1rem;
  font-weight: 600;
}

.total-price{
  margin-left: 0.5rem;
}
/* how the total price display looks */
.btn-buy{
  padding: 12px 20px;
  background-color:#2f3542;
  color:#fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
/* Button that allows for buying */
#cart-close{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}
/* style for the cart close function */
footer {
  background-color: #da9f68;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Determines the look of the footer  */
/* my own code */
.logo {
  max-width: 100px;
  float: left;
}
/* Allows the logo to be in the top left on the header */